.banner-wrap{
    .banner-content{
        position: relative;
        width: 800px;
        margin:0 auto;
        img{
            height: 285px;
            width:100%;
        }
        .arrow-left{
            position: absolute;
            top:142px;
            left:-40px;
            color: #000;
            &:hover{
                background-color: #eee;
            }
        }
        .arrow-right{
            position: absolute;
            top:142px;
            left: 800px;
            color: #000;
            &:hover{
                background-color: #eee;
            }

        }
    }
   
}